<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Ping Express</title>
<style type="text/css">
<style> .clear {
clear: both;
}
* {
	margin: 0px;
	padding: 0px;
}
img {
	display: block!important;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: arial;
	background: #f7f7f7;
}
.container {
	width: 650px;
	margin: auto;
}
.container-inner {
	box-sizing: border-box;
	padding:20px 0;
}

.logo {
	padding: 20px 0 0 0;
}

.copy{
color:#444;	
}

a{
color:#e56c1b;
text-decoration:none;	
}

a:hover{
color:#222;	
}



@media screen and ( max-width:767px) {
.container {
	width: 95%!important;
}

}

@media screen and ( max-width:767px) {
span,a{
font-size:14px;	
}

}
</style>
</head>
<body>
	 <% @mycolor = RestaurantsMaster.where(:id=>"1").pluck(:color) %>
<% @color = @mycolor.shift.strip %> 
<table width="100%" class="main-part" style="border:0px">
  <tr>
    <td align="center"><table width="650" cellpadding="0" cellspacing="0" class="container" style="background:#fff;margin-top:20px;border:1px solid #ddd;">
        <tbody>
         
                  <tr>
                    <td  class="logo" align="center" style="padding:20px 0px 20px;background:<%= @color %> none repeat scroll 0 0;"><img alt="Rasoiexpress" src="http://52.9.39.183:7100/uploads/restaurants_master/logo/1/logo.png" style="max-width:100%;display:block;"></td>
                  </tr>
           
                   <tr>
            <td><table class="container container-inner main-part-inner" width="100%" cellspacing="0"  cellpadding="0" style="padding:0 15px;">
                <tbody>
                  <tr>
                    <td class="mid-text" style="float:left;"><table width="100%" cellpadding="0" cellspacing="0" style="padding:20px 0 10px 0; width:100%;height:auto;">
                        <tbody>
                          <tr>
                          <center>  <td><a href="#" style="text-decoration:none;color:#444;"><h4>Reset your password</h4></a></td></center>
                          </tr>
                        </tbody>
                      </table></td>
                  </tr>
                  <tr>
                    <td class="mid-text" style="float:left;"><table width="100%"  cellpadding="0" cellspacing="0" style="padding:10px 0; width:100%;height:auto;">
                        <tbody>
                          <tr>
         <td><span style="text-decoration:none;color:#444;"><p style="font-size:14px;"> http://rasoixpressonline.com/password_resets/<%= @user.password_reset_token %>/edit</p></span></td>
        

                          </tr>
                        </tbody>
                      </table></td>
                  </tr>
                  
                   <tr>
                    <td class="mid-text" style="float:left;"><table width="100%"  cellpadding="0" cellspacing="0" style="padding:20px 0; width:100%;color:#000;">
                        <tbody>
                          
                        </tbody>
                      </table></td>
                  </tr>
                  
                  
                  
                </tbody>
              </table></td>
          </tr>
		  <tr>
                    <td class="copy"><table width="100%" cellpadding="0" cellspacing="0" style="padding:18px 0px;width:100%;background-color:<%= @color %>;font-size: 15px;">
                        <tbody>
                          <tr>
               <td style="text-align:center;color:#fff;paddind:18px 0px;width:100%;background-color:<%= @color %>;font-size: 15px;"><span>Copyright © <a href="#">"RasoiXpressonline.com"</a>, All Rights Reserved</span></td>
                          </tr>
                        </tbody>
                      </table></td>
                  </tr>
        </tbody>
      </table></td>
  </tr>
</table>
 
</body>
</html>
